Cargando librerias

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

Cargando dataset

In [2]:
data = pd.read_csv('boston.csv')

Mostrar informacion Basica del dataset

In [3]:
print(data.info())
print(data.describe())
print(data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   TOWN     506 non-null    object
 1   TRACT    506 non-null    int64
 2   LON      506 non-null    float64
 3   LAT      506 non-null    float64
 4   MEDV     506 non-null    float64
 5   CRIM     506 non-null    float64
 6   ZN       506 non-null    float64
 7   INDUS    506 non-null    float64
 8   CHAS     506 non-null    int64
 9   NOX      506 non-null    float64
 10  RM       506 non-null    float64
 11  AGE      506 non-null    float64
 12  DIS      506 non-null    float64
 13  RAD      506 non-null    int64
 14  TAX      506 non-null    int64
 15  PTRATIO  506 non-null    float64
dtypes: float64(11), int64(4), object(1)
memory usage: 63.4+ KB
None
             TRACT         LON         LAT        MEDV        CRIM  \
count   506.000000  506.000000  506.000000  506.000000  506.000000
mean   2700.355731  -71.056389   42.216440   22.528854    3.613524
std    1380.036830    0.075405    0.061777    9.182176    8.601545
min       1.000000  -71.289500   42.030000    5.000000    0.006320
25%    1303.250000  -71.093225   42.180775   17.025000    0.082045
50%    3393.500000  -71.052900   42.218100   21.200000    0.256510
75%    3739.750000  -71.019625   42.252250   25.000000    3.677083
max    5082.000000  -70.810000   42.381000   50.000000   88.976200

               ZN       INDUS        CHAS         NOX          RM         AGE  \
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean    11.363636   11.136779    0.069170    0.554695    6.284634   68.574901
std     23.322453    6.860353    0.253994    0.115878    0.702617   28.148861
min      0.000000    0.460000    0.000000    0.385000    3.561000    2.900000
25%      0.000000    5.190000    0.000000    0.449000    5.885500   45.025000
50%      0.000000    9.690000    0.000000    0.538000    6.208500   77.500000
75%     12.500000   18.100000    0.000000    0.624000    6.623500   94.075000
max    100.000000   27.740000    1.000000    0.871000    8.780000  100.000000

              DIS         RAD         TAX     PTRATIO
count  506.000000  506.000000  506.000000  506.000000
mean     3.795043    9.549407  408.237154   18.455534
std      2.105710    8.707259  168.537116    2.164946
min      1.129600    1.000000  187.000000   12.600000
25%      2.100175    4.000000  279.000000   17.400000
50%      3.207450    5.000000  330.000000   19.050000
75%      5.188425   24.000000  666.000000   20.200000
max     12.126500   24.000000  711.000000   22.000000
TOWN       0
TRACT      0
LON        0
LAT        0
MEDV       0
CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
dtype: int64

ONE-HOT-ENCODING

In [4]:
df_encoded = pd.get_dummies(data, columns=['TOWN'], drop_first=True)

Imputar valores NaN con la media de la columna

In [5]:
df_limpio = df_encoded.fillna(df_encoded.mean())

Separar las características de la variable objetivo

In [6]:
X = df_limpio.drop('MEDV', axis=1)
y = df_limpio['MEDV']

Escalar las características

In [7]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

Dividir

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)
column_names = X.columns

Creando nuevos data frame de prueba y test

In [9]:
df_train = pd.DataFrame(X_train, columns=column_names)
df_train['MEDV'] = y_train
df_test = pd.DataFrame(X_test, columns=column_names)
df_test['MEDV'] = y_test